@model SystemMagazynowy.Models.EditUserViewModel

@if (ViewBag.IsStocktakingOn == -1)
{
    {
        ViewBag.Title = "Edit";
    }

    @Html.Partial("_BackToListPartial")
    <h2 class="text-center">Edytuj dane pracownika</h2>
    <div class="row">
        <hr />
        <div class="col-md-2"></div>
        <div class="col-md-10">
            @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Uprawnienia użytkownika:", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">

                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canManageCategories)
                                @Html.LabelFor(m => m.canManageCategories, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canManageContractors)
                                @Html.LabelFor(m => m.canManageContractors, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canManageUsers)
                                @Html.LabelFor(m => m.canManageUsers, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canManageWarehouses)
                                @Html.LabelFor(m => m.canManageWarehouses, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canPerformStocktaking)
                                @Html.LabelFor(m => m.canPerformStocktaking, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canManageAssortment)
                                @Html.LabelFor(m => m.canManageAssortment, new { @class = "control-label" })
                            </div>
                            <div class="checkbox col-md-offset-1">
                                @Html.CheckBoxFor(m => m.canOperateWithAssortment)
                                @Html.LabelFor(m => m.canOperateWithAssortment, new { @class = "control-label" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Zapisz" class="btn btn-info" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}
else
{
    ViewBag.Title = "INWENTARYZACJA";

    @Html.Partial("_StocktakingOnPartial");
            }
