@model SystemMagazynowy.ViewModel.EditOperationViewModel

@{
    ViewBag.Title = "MmK";
}
@Html.Partial("_BackToListPartial")
<h2 class="text-center">Przesunięcie międzymagazynowe - Korekta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Operation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.DocumentSourceID, new { @value = Model.DocumentSourceID })
        @Html.HiddenFor(model => model.Type, new { @value = Model.Type })
        @Html.HiddenFor(model => model.SelectedAssortment, new { @value = Model.SelectedAssortment })

       
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OperationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.OperationDate, "", new { @class = "text-danger" })
            </div>
        </div>

       

        

        <div class="form-group">
            @Html.LabelFor(model => model.FromWarehouseID, "Magazyn źródłowy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FromWarehouseID", (SelectList)ViewBag.WarehouseID,"Wybierz magazyn", htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.FromWarehouseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToWarehouseID, "Magazyn docelowy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ToWarehouseID", (SelectList)ViewBag.WarehouseID,"Wybierz magazyn", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ToWarehouseID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_OperationFormButtonsPartial")


        @Html.Partial("_ModalAddAssortmentPartial")

        <h4 class="text-center">Asortyment w dokumencie</h4>
        <table class="table table-hover">
            <tr>
                <th>Nazwa</th>
                <th>Kod kreskowy</th>
                <th>Ilość</th>
            </tr>

            @if (Model.Assortment != null)
            {
                foreach (var item in Model.Assortment)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BarCode</td>
                    <td>@item.Quantity</td>
                </tr>
            }
            }
        </table>

        <h4 class="text-center">Asortyment po korekcie</h4>
        @Html.Partial("_TableAssortmentListPartial")
    </div>
}


