@model SystemMagazynowy.ViewModel.PzViewModel

@if(ViewBag.IsStocktakingOn == -1)
{
{
    ViewBag.Title = "Operacje";
}

@Html.Partial("_BackToListPartial")
<h2 class="text-center">Przyjęcie zewnętrzne</h2>

using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.Type, new { @value = Model.Type})
        @Html.HiddenFor(model => model.UserID, new { @value = Model.UserID})

        @Html.HiddenFor(model => model.SelectedAssortment, new {@value = Model.SelectedAssortment })

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OperationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OperationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.OperationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractorID, "Kontrahent", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContractorID", null,"Wybierz dostawce", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContractorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToWarehouseID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ToWarehouseID", (SelectList)ViewBag.WarehouseID,"Wybierz magazyn", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ToWarehouseID, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_OperationFormButtonsPartial")

        @Html.Partial("_ModalAddAssortmentPartial")

        @*<div id="addAssortmentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                 Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodaj asortyment do PZ</h4>
                    </div>
                    <div class="modal-body">
                        
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-add-assortment" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>

            </div>
        </div>*@

        <table class="table" id="assortment-list-table">
            <tr>
                <th>Nazwa</th>
                <th>Kod kreskowy</th>
                <th>Ilość</th>
                <th></th>
            </tr>
            
        </table>
    </div>
    }
}
else
{
    ViewBag.Title = "INWENTARYZACJA";

    @Html.Partial("_StocktakingOnPartial");
}



