@model IEnumerable<SystemMagazynowy.Models.AssortmentCategory>

@if(ViewBag.IsStocktakingOn == -1)
{ 
{
    ViewBag.Title = "Kategorie";
}

<h2 class="text-center">Kategorie</h2>


if (User.IsInRole("canManageCategories"))
{
<span>
    <a href="@Url.Action("Create")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span> Dodaj kategorie
    </a>
</span>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Więcej", "Details", new { id = item.ID }) |
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
}
else
{
    ViewBag.Title = "INWENTARYZACJA";

    @Html.Partial("_StocktakingOnPartial");
}